<div class="matches">
  <h2 class="title">Matches</h2>
  <table>
    <thead>
      <tr>
        <th>MATCH</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of matches; let i = index" class="match-row">
        <td>
          {{ match.player1.username }} <i>({{ match.player1.elo }} elo)</i> vs
          {{ match.player2.username }} <i>({{ match.player2.elo }} elo)</i>
        </td>
        <td>{{ match.id_status.name }}</td>
        <td>
          <button class="btn-submit" [routerLink]="['/matches', match.id]">
            View Match
          </button>
          <button 
            class="btn-live" 
            *ngIf="match.id_status.name === 'Pending' || match.id_status.name === 'In Progress'"
            [routerLink]="['/matches', match.id, 'live']">
            🔴 Live
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
